<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Edit - <span>{{{featuretoggle.name}}}</span></h4>
</div>
<form id="edit-toggle-form" class="form-horizontal" role="form" method="post" action="/feature/edit">  
  <div class="modal-body"> 
    <input type="hidden" name="id" value="{{featuretoggle._id}}" />
    {{#featuretoggle.domainConfiguration}}
      <div class="form-group">
        <label for="{{domainName.domainName}}" class="col-sm-2 control-label">{{domainName.domainName}}</label>
        <div class="col-sm-10 toggle-container">
          <input type="checkbox" id="toggle" name="featuredEnabled" value='{{domainName.domainName}}' class='{{domainName.domainName}} form-control toggleswitch' {{toggleslider featuredEnabled}} />
          <input type="hidden" name="domainName" value="{{domainName.domainName}}" />
          <input type="hidden" name="domainPrefix" value="{{domainName.domainPrefix}}" />
          <input type="hidden" name="domainId" value="{{domainName.domainId}}" />
          <input type="hidden" name="lastToggleActivity" value="{{lastToggleActivity}}" />
          <input type="hidden" name="lastToggleUser" value="{{lastToggleUser}}" />
          <input type="hidden" name="abRate" value="{{abRate}}" />
        </div>
      </div>
    {{/featuretoggle.domainConfiguration}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" id="edit-toggle" class="btn btn-primary">Save changes</button>
  </div>
</form>

<script type="application/javascript">
  toggleSwitch();
</script>